<div class="container fluid">
    <div class="form-group">
        <label for="add1">Address1</label>
        <input type="text" name="add1" class="form-control" [(ngModel)]="address.add1">
    </div>
    <div class="form-group">
        <label for="add2">Address2</label>
        <input type="text" name="add2" class="form-control" [(ngModel)]="address.add2">
    </div>
    <div class="form-group">
        <label for="pincode">pincode</label>
        <input type="text" name="pincode" class="form-control" [(ngModel)]="address.pincode">
    </div>
    <div class="form-group">
        <label for="state">state</label>
        <input type="text" name="state" class="form-control" [(ngModel)]="address.state">
    </div>
    <div class="form-group">
        <label for="city">city</label>
        <input type="text" name="city" class="form-control" [(ngModel)]="address.city">
    </div>
</div>