
<button type="submit" class="btn btn-primary" (click)='register()'>Submit</button>
      <button type="submit" class="btn btn-primary" (click)="forotpssword()" >Forgot password</button>
  <a routerLink="/psssword">Forgot password</a>
      <button type="submit" class="btn btn-primary">Login</button>
{{fullNameFromChild}}
<a routerLink="/add">Restaurant</a>
<a routerLink="/createAccount" class="m-2">createAccount</a>
<a routerLink="/createAtm" class="m-2">create ATM</a>
<a routerLink="/searchAccount" class="m-2">Account Lookup</a>
<router-outlet />
<!-- <h1>Star Rating Demo</h1>
<app-rating [rating]="rating" (ratingUpdated)="onRatingUpdated($event)"></app-rating>
<p>Selected Rating: {{ rating }}</p> -->